body {
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    font-family:sans-serif;
    font-weight: 300;
    background: #fff;
}

.header {
    width: 100%;
    height: 40px;
    background-color: #f1f1f1
}

.icon {
    color: purple;
    margin-top: 3%;
    margin-right: 3%;
    font-size: 12px;
}

.icon1 {
    color: purple;
    font-size: 20px;
    float: revert;
    margin-left: 54%;
    margin-right: -316px;

}

.color-me a {
    width: 100%;
    color: #89288F;
    font-size: 16px;
    font-weight: bold;

}

.head1 {
    letter-spacing: 5px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    margin: 44px;
}

.parag {
    text-align: justify;
    color: black;
}

.imgsilde {
    clip-path:polygon(0 0, 100% 0, 100% 85%, 36% 100%, 0 93%);
}

.ulist {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 600px;
    height: 150px;

}

.ulist .lis {
    list-style: none;
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #f1f1f1;
    transform: rotate(45deg);
    transition: .5s;
    margin: -150px;
}

.ulist .lis:hover {
    border: 5px solid purple;
    background-color: white;
}

.ulist .lis.item1 {
    top: 0;
    left: -45px;
}

.ulist .lis.item2 {
    bottom: 0;
    left: 25%;
}

.ulist .lis.item3 {
    top: 0;
    left: 57%;
}

.ulist .lis.item4 {
    bottom: 0;
    left: 89%;
}

.ulist .lis.item5 {
    top: 0;
    left: 121%
}

.diamond h3 {
    text-align: center;
    transform: rotate(-45deg);
    margin-left: 38px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 20px;
}

.img2 {

    background: rgba(0, 0, 0, 0.8) url("/images/parallaxbg1.jpg");
    background-size: cover;
    background-blend-mode: darken;
    height: 570px;
    width: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: left;
}

h4 {
    color: white;
    top: 20%;
}

.tp {
    margin-top: 21%;
    margin-bottom: 17%;
}

.icon3 {
    font-size: 35px;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    margin-top: 70px;
    margin-left: 70px;
    color: purple;
}

.icon4 {
    color: #fff !important;
    font-size: 3em;
    margin-top: 10%;
    margin-left: 9%;
    margin-bottom: 5%;
}

.rect h5 {
    color: #fff;
    margin-left: 8%;
    font-family: 'Arimo', sans-serif;
    text-align: center;
}

.rect p {
    color: #fff;
    text-align: center;
}

.mobi img {
    margin-top: 8%;
}

.head2 {
    letter-spacing: 5px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    margin-top: 150px;
    margin-bottom: 30px;
}

.butn {
    background-color: #89288f !important;
    color: #fff;
    padding: 14px 30px;
    border: 1px solid #89288f !important;
    letter-spacing: 2px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
}

.cloud {
    overflow: hidden;
    display: block;
    width: 200px;
    height: 300px;
    margin-top: 12px;
}

.last {
    height: 250px;
    width: 100%;
    color: #fff;
    background: #111844;
    padding: 40px 0 50px;
    margin-top: 0px
}

.footeri {
    position: relative;
    background: #111844;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    border: 1px solid #666;
}

.icon5 {
    position: absolute;
    background: #111844;
    padding: 15px;
    color: purple;
    top: -30px;
    left: 43%;
}

.footeri p {
    color: #ccc;
    margin-bottom: 0;
}

.icon6 {
    color: purple;
    font-size: 20px;
    margin-left: 0%;
    margin-right: 21px;
}

.blog {
    width: 100%;
    height: 200px;
    margin-top: 380px;
    background: url(/images/blue.jpg) center bottom;
}

.test {
    width: 100%;
    background: url(/images/testimonialbg.jpg) top center no-repeat fixed;
    overflow: hidden;
}

.testimonialfull-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
}

.section-md {
    width: 80%;
}

.avtarshape {
    margin-bottom: 12px;
    padding: 11px;
}

.losange {
    overflow: hidden;
    width: 190px;
    height: 190px;
    margin-bottom: 0px;
    margin-left: 72px;
    ;

}

.losange .los1 {
    width: 210px;
    height: 210px;
}

.losange .los1 img {
    width: 100%;
    height: fit-content;

}

.test h4 {
    margin-bottom: 5px;
}

p small {
    font-size: 14px;
    font-style: italic;
}

p small, p span {
    color: #fff;
}

.test p {
    color: #fff;
}

.slick-slide img {
    display: inline-block;
}

.slick-prev .slick-next {
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    cursor: pointer;
    color: inherit;
    border: none;
    outline: 0;
    background: #89288f;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.zoomeffect {
    transition: all .3s ease-in;
}

.blog a {
    color: #fff;
    background-color: transparent;
    outline: 0;
    text-decoration: none;
}

.blogdiv {
    bottom: -160px;
    position: absolute;
}

.blogsec {
    position: relative;
}

.head3 {
    letter-spacing: 5px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    color: white;
}

.text1 {
    background: rgba(137, 40, 143, 0.6);
    color: black;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 36px;
    border-width: 0px;
    padding: 10px 25px;
    margin-bottom: 8px;
}

.text2 {
    background: rgba(17, 24, 68, 0.6);
    color: black;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 36px;
    border-width: 0px;
    margin-bottom: 40px;
    padding: 10px 30px;
}


/*page2*/
.page2 {
    background: url(../images/blue.jpg) center bottom;
    padding: 60px 0 20px;
    text-align: left;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    font-weight: 400;
    font-family: 'Arimo', sans-serif;
}

h1 span{
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    font-weight: 400;
    font-family: 'Arimo', sans-serif;
}

.home, .home a {
    text-decoration: none;
    color: #89288f;
    font-size: 15px;
}

.home a:hover {
    color: white;
}

.home a.activelink {
    color: #fff;
    text-decoration: none;
}
.head4 h1{
    color: #000;
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 5px;
    margin-bottom: 25px;
    margin-top: 60px;
    font-weight: 200;
    text-align: center;
}
.head4 p{
    text-align: justify;
    margin-left: 50px;
}
.cont img{
    margin-top: 120px;
    height: 500px;
    width: 100%;
}
.paragrap{
    color: black;
    text-align: justify;
}
.philo{
    margin-top: 50px;
}
.officer{
    margin-top: 15px;
    font-size: 20px;
}
.core{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    margin-bottom: 30px;
    font-family: 'Arimo', sans-serif;
}
.rectangle {
   background: rgba(0, 0, 0, 0.8) url("/images/parallaxbg1.jpg") center bottom;
    background-size: cover;
    background-blend-mode: darken;
    height: 400px;
    width: 100%;
    color: #fff;
    margin-top: 70px;
}
.rectangle h1{
    margin-top: 70px;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 5px;
    line-height: 36px;
    font-size: 30px;
    margin-bottom:30px ;
}
.services-title{
    margin-bottom: 185px;
    background: #F1F1F1;
    width: auto;
    margin-left: 0px;
    height: 70px;
    margin-top: 45px;
}
.icn{
    float: left;
    width: 50px;
    height: 70px;
    padding: 12px;
    color: #89288F!important;
    font-size: 2em;
}
.services-title h3{
    margin: 18px 0 0 8px;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    font-family: 'Arimo', sans-serif;
    display: inline-block;
}
.services-title p{
    font-size: 10.5pt;
    color: #666666;
    line-height: 24px;
    margin-top: 45px;
    text-align: justify;
}
.services-title p a{
    color: #89288f;
    text-decoration: none;
    margin-bottom: 40px;
}
/*portfolio*/
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    height: 280px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px*14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}











